PyQt5==5.15.11
numpy==1.26.4
opencv-python==4.10.0.84
geopandas==1.1.1
scikit-learn==1.6.1
shapely==2.1.1
geopy==2.4.1
pandas==2.3.0
torch==2.2.2
torchvision==0.17.2
pillow==11.3.0
requests==2.32.4
osmnx==2.0.0
ultralytics==8.3.40
matplotlib==3.10.3
chardet==5.2.0
openai==1.77.0
mercantile==1.2.1
overturemaps==0.17.0
git+https://github.com/gem/oq-gem-taxonomy.git@taxonomy_v4.x